services:
  - type: web
    name: Izumi
    env: docker
    branch: main
    repo: https://github.com/sataniceypz/Izumi-v3.git
    plan: free
    autoDeploy: false
    envVars:
      - key: SESSION_ID
        sync: false
